* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc(33.33% - 24px);
  margin-right: 24px;
  margin-bottom: 24px;
}
.gallery-item:nth-child(3n) {
  margin-right: 0;
}
